<!--Listado de personal activo guardado en la base de datos-->

<h1>Listado de personal activo</h1>
<br>

<!--Tabla de empleados activos-->

<table class="table table-hover">
	<thead>
		<!--Cabecera de tabla-->
		<tr>
			<th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col">Apellido</th>
			<th scope="col">Cargo</th>
		</tr>
	</thead>

		<!--Cuerpo de la tabla-->
	<tbody *ngIf="peticion_succeful">
		<tr *ngFor="let empleado of personal_activo; let indice = index">
			<th scope="row">{{indice}}</th>
			<td><a href="#">{{empleado.name}}</a></td>
			<td>{{empleado.surname}}</td>
			<td>{{empleado.position}}</td>
		</tr>
	</tbody>
</table>


